{% extends 'flatpages/default.html' %}

{% load censor_filter %}
{% load custom_tags %}

{% block title %}
Category List
{% endblock title %}


{% block content %}
<br>
<h2>Все новости</h2>
<small class="fw-bold" style="color: #879496">всего «{{ page_obj.paginator.count }}»</small>
<hr>

    {% if is_not_subscriber and request.user.is_authenticated %}
    <div align="center">
        <a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a>
    </div>
    {% endif %}
    <br>
    {% if category_news_list %}

        <ol style="list-style-type: none; margin-left: 0; padding-left: 0">
            {% for post in category_news_list %}
            <li align="left">
                <a class="nav-item" href="{% url 'post_detail' post.id %}">
                    {{ post.title|truncatechars:80|censor }}</a>&nbsp;
                <small class="text-muted" style="color: #A7ADB9">|</small>
                <small class="fw-bold" style="color: #879496">
                    {% for category in post.postCategory.all %}
                    <a style="color: #879496" href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </small>
                <small class="text-muted" style="color: #A7ADB9">|</small>
                <small class="fw-bold" style="color: #828236">{{ post.dateCreation|date:'d.m.Y' }} </small>
                <!-- <small class="text-muted" style="color: #A7ADB9">|</small>-->
                <!-- <small class="text-muted">(автор: {{ post.author }})</small>-->
                {% if perms.NewsPortal.change_post %}
                <span style="color: red">•</span>
                <a class="edit-news" href="{% url 'post_edit' pk=post.id %}">Изменить</a>
                {% endif %}
                {% if perms.NewsPortal.delete_post %}
                <span style="color: #A7ADB9">|</span>
                <a class="del-news" href="{% url 'post_delete' post.id %}">Удалить</a>
                {% endif %}
                <br>
                <p>{{ post.text|truncatechars:150|censor }}</p>
            </li>
            <li></li>
            {% endfor %}
        </ol>

    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    <!-- Пагинация -->
    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}