{% extends 'flatpages/default.html' %}

{% block title %}
Index
{% endblock title %}

{% csrf_token %}

{% block content %}
<title>Home | {{ title }}</title>
<br>
<h2>Home (index test)</h2>
<h5>для обзора новостей перейдите в раздел "<a href="/news/">News</a>"</h5>
<hr>
{% for x in posts %}
    {% if name in x.title %}
        <p align="left" style="color:red">{{ x.title }}</p>
    {% else %}
        <p align="left">{{ x.title }}</p>
    {% endif %}
{% endfor %}
<hr>

<!-- Этот блок будет виден только авторизированным пользователям -->
{% if user.is_authenticated %}
<h4>Hello User</h4>
{% endif %}

{% endblock content %}