{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Index
{% endblock title %}

{% csrf_token %}

{% block content %}

<title>{% trans "Home" %} | {{ title }}</title>
<br>

<h2>{% trans "Home" %} (index test)</h2>
<h5>{% trans "for a news overview, go to the section" %} "<a href="/news/">{% trans "News" %}</a>"</h5>
<hr>

{% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <h4 style="color: #879496">{% trans "Hello" %} {{ user }}</h4>
    <br>
{% endif %}

<div align="left">
    {% for x in posts %}
        {% if name in x.title %}
            <div style="color:red">{{ x.title }}</div>
        {% else %}
            <div>{{ x.title }}</div>
        {% endif %}
    {% endfor %}
</div>
<br><br>

{% endblock content %}