{% extends 'flatpages/default.html' %}

{% block title %}
Index
{% endblock title %}

{% csrf_token %}

{% block content %}

<title>Home | {{ title }}</title>
<br>
<h2>Home (index test)</h2>
<h5>для обзора новостей перейдите в раздел "<a href="/news/">News</a>"</h5>
<hr>

{% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
{% endfor %}

{% if user.is_authenticated %}
    <h4 style="color: #879496">Hello {{ user }}</h4>
    <br>
{% endif %}

{% for x in posts %}
    {% if name in x.title %}
        <p align="left" style="color:red">{{ x.title }}</p>
    {% else %}
        <p align="left">{{ x.title }}</p>
    {% endif %}
{% endfor %}
<hr>

{% endblock content %}