<!-- Наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Подключение фильтра для цензурирования плохих слов -->
{% load i18n %}
{% load censor_filter %}

<!-- Название Post -->
{% block title %}
Post
{% endblock title %}

<!-- Контент страницы -->
{% block content %}

<br>
<h3 align="left" style="color: #23364B">{{ post.title|censor }}</h3>
<p align="left">
    <small class="news-date">{{ post.dateCreation|date:'d.m.Y' }} </small>
    <span style="color: #879496">•</span>
    <small class="news-author">({{ post.author }})</small>
</p>
<hr>
{% if request.user.is_authenticated and perms.NewsPortal.add_post %}
    <div align="left">
        <a class="btn btn-outline-success btn-sm" href="{% url 'post_edit' pk=post.id %}">{% trans "Edit" %}</a>
        <a class="btn btn-outline-danger btn-sm" href="{% url 'post_delete' post.id %}">{% trans "Delete" %}</a>
    </div>
    <br>
{% endif %}

<div align="left">
    <p class="text-muted" style="white-space:pre-line">{{ post.text|censor }}</p>
</div>
<br><br>

{% endblock content %}
