{% load i18n %}
{% load tz %}

{% load custom_filters %}
{% load custom_tags %}

<html lang="en">
    <head>
        {% load static %}
        <!-- <title>Bare - Start Bootstrap Template</title> -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap) -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>
            body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} #E8F2F7 {% else %} #FFFFFF {% endif %};}
        </style>
    </head>
    <body>

        <!-- Responsive navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="/">News Portal</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               {% load cache %}
               {% cache 1 menu %}  <!-- Кэш блока на 1 сек -->
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="/">{% trans "Home" %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/news/">{% trans "News" %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/chat/">{% trans "Chat" %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/contacts/">{% trans "Contacts" %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/about/">{% trans "About" %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" style="color:#8CD7FF" href="/news/search/">🔎 {% trans "Search" %}</a>
                       </li>
                       <li class="nav-item">
                           <div class="timezone_list">
                               {% get_current_timezone as TIME_ZONE %}
                               <form class="timezone_list" action="" method="POST">
                                   {% csrf_token %}
                                   <label for="timezone"></label>
                                   <select name="timezone">
                                       {% for tz in timezones %}
                                       <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                                       {% endfor %}
                                   </select>
                                   <input type="submit" value="{% trans 'ok' %}">
                               </form>
                           </div>
                       </li>
                       <li class="nav-item">
                           <div class="timezone_info">⌚ {{ current_time|show_time:TIME_ZONE }}</div>
                       </li>
                   </ul>
               </div>
               {% endcache %}
               <div align="right">
                   <ul class="navbar-nav ml-auto">
                           <li class="nav-item">
                               <div class="language">
                               <form class="language" action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST-запросов -->
                                   <input type="hidden" name="next" value="{{ redirect_to }}">
                                   <select name="language" id="">
                                       {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
                                       {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->
                                       {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                                       <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                                           {{ language.name_local }} - {{ language.code }}
                                       </option>
                                       {% endfor %}
                                   </select>
                                   <input type="submit" value="{% trans 'ok' %}">
                               </form>
                               </div>
                           </li>>

                       {% if not request.user.is_authenticated %}
                           <li class="nav-item">
                               <a class="btn btn-outline-secondary" href="/accounts/signup/">{% trans "Registration" %}</a>
                           </li>
                           <li class="nav-item"></li>>
                           <li class="nav-item">
                               <a class="btn btn-secondary" href="/accounts/login/">{% trans "Login" %}</a>
                           </li>
                       {% else %}
                           <li class="nav-item">
                               <a class="nav-link" href="#">{{ user }}</a>
                           </li>
                           <li class="nav-item"></li>>
                           <li class="nav-item">
                               <a class="btn btn-outline-secondary" href="/accounts/logout/">{% trans "Logout" %}</a>
                           </li>
                       {% endif %}
                   </ul>
               </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
               </div>
           </div>
        </div>
    </body>
</html>
