<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <!-- <title>Bare - Start Bootstrap Template</title> -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap) -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a class="navbar-brand" href="/">News Portal</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse"
                       data-target="#navbarResponsive"
                       aria-controls="navbarResponsive" aria-expanded="false"
                       aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               {% load cache %}
               {% cache 60 menu %}  <!-- Кэш блока на 60 сек -->
               <div class="collapse navbar-collapse" id="navbarResponsive">
                   <ul class="navbar-nav ml-auto">
                       <li class="nav-item active">
                           <a class="nav-link" href="/">Главная</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/news/">Новости</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/chat/">Чат</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/contacts/">Контакты</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link" href="/about/">О нас</a>
                       </li>
                       <li class="nav-item">

                       </li>
                       <li class="nav-item">
                           <a class="nav-link" style="color:#8CD7FF" href="/news/search/">🔎 Найти</a>
                       </li>
                   </ul>
               </div>
               {% endcache %}
               <div align="right">
                   <ul class="navbar-nav ml-auto">
                       {% if not request.user.is_authenticated %}
                           <li class="nav-item">
                               <a class="btn btn-outline-secondary" href="/accounts/signup/">Регистрация</a>
                           </li>
                           <li class="nav-item"></li>>
                           <li class="nav-item">
                               <a class="btn btn-secondary" href="/accounts/login/">Войти</a>
                           </li>
                       {% else %}
                           <li class="nav-item">
                               <a class="nav-link" href="#">{{ user }}</a>
                           </li>
                           <li class="nav-item"></li>>
                           <li class="nav-item">
                               <a class="btn btn-outline-secondary" href="/accounts/logout/">Выйти</a>
                           </li>
                       {% endif %}
                   </ul>
               </div>
           </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
               </div>
           </div>
        </div>
    </body>
</html>
